@page
@model PrintingStationeryApp.Pages.StationeryOrders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>



<h4>StationeryOrder</h4>
<hr />
<div>
    <form method="post" enctype="multipart/form-data">
        <div class="row col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StationeryOrder.StationeryOrderId" />
            <div class="form-group col-2">
                <label asp-for="StationeryOrder.OrderNo" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="StationeryOrder.OrderNo" class="form-control" />
                <span asp-validation-for="StationeryOrder.OrderNo" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.OrderNoInString" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="StationeryOrder.OrderNoInString" class="form-control" />
                <span asp-validation-for="StationeryOrder.OrderNoInString" class="text-danger"></span>
            </div>
            <br />
            <br />


            <div class="form-group col-2">
                <label asp-for="StationeryOrder.BranchId" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <select asp-for="StationeryOrder.BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
            </div>

            <div class="form-group col-2"></div>

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.OrderDate" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="StationeryOrder.OrderDate" class="form-control" />
                <span asp-validation-for="StationeryOrder.OrderDate" class="text-danger"></span>
            </div>
            <br />
            <br />


            <div class="form-group col-2">
                <label asp-for="StationeryOrder.CompletionDate" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="StationeryOrder.CompletionDate" class="form-control" />
                <span asp-validation-for="StationeryOrder.CompletionDate" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.PrintingCompanyId" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <select asp-for="StationeryOrder.PrintingCompanyId" class="form-control" asp-items="ViewBag.PrintingCompanyId"></select>
            </div>
            <br />
            <br />

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.OrderById" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <select asp-for="StationeryOrder.OrderById" class="form-control" asp-items="ViewBag.OrderById"></select>
            </div>

            <div class="form-group col-2"></div>

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.OrderStatus" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <select asp-for="StationeryOrder.OrderStatus" asp-items="Html.GetEnumSelectList<PrintingStationeryApp.Models.ApprovalState>()" class="form-control"></select>
                <span asp-validation-for="StationeryOrder.OrderStatus" class="text-danger"></span>
            </div>
            <br />
            <br />

            <div class="form-group col-2"></div>
            <div class="form-group form-check col-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StationeryOrder.IsCompleted" /> @Html.DisplayNameFor(model => model.StationeryOrder.IsCompleted)
                </label>
            </div>

            <div class="form-group col-2"></div>

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.ApprovedById" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <select asp-for="StationeryOrder.ApprovedById" class="form-control" asp-items="ViewBag.ApprovedById"></select>
            </div>
            <br />
            <br />

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.ApprovedOn" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="StationeryOrder.ApprovedOn" class="form-control" />
                <span asp-validation-for="StationeryOrder.ApprovedOn" class="text-danger"></span>
            </div>

            <div class="form-group col-2"></div>

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.TenantId" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="StationeryOrder.TenantId" class="form-control" />
                <span asp-validation-for="StationeryOrder.TenantId" class="text-danger"></span>
            </div>
            <br />
            <br />

            <div class="form-group col-2"></div>
            <div class="form-group form-check col-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StationeryOrder.IsDeleted" /> @Html.DisplayNameFor(model => model.StationeryOrder.IsDeleted)
                </label>
            </div>

            <div class="form-group col-2"></div>

            <div class="form-group col-2">
                <label asp-for="StationeryOrder.Comments" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <textarea asp-for="StationeryOrder.Comments" class="form-control"></textarea>
                <span asp-validation-for="StationeryOrder.Comments" class="text-danger"></span>
            </div>
            <br />
            <br /><br />

            <div>
                <h3>Stationery Order Items</h3>
                <br /><br />
                
                <button type="button" class="btn btn-primary" onclick="addStationaryItem()">Add Stationary Item</button>


                <br /><br />
                <div id="stationaryItemsContainer">
                     @for (var i = 0; i < Model.StationeryOrder.StationeryOrderItems.Count; i++)
                    {
                    <div class="row css-flex-table-header ">
                        <div class="col">
                                <label asp-for="StationeryOrder.StationeryOrderItems[0].PrintingStationeryId">PrintingStationery</label>
                         </div>
                        <div class="col">
                            <label asp-for="StationeryOrder.StationeryOrderItems[0].FromStationeryNo">FromStationeryNo</label>
                        </div>
                        <div class="col">
                            <label asp-for="StationeryOrder.StationeryOrderItems[0].ToStationeryNo">ToStationeryNo</label>
                        </div>

                        <div class="col">
                            <label asp-for="StationeryOrder.StationeryOrderItems[0].NoOfBooks">NoOfBooks</label>
                        </div>

                        <div class="col">
                            <label asp-for="StationeryOrder.StationeryOrderItems[0].Comments">Comments</label>
                        </div>
                        
                    </div>

                        <input type="hidden" asp-for="StationeryOrder.StationeryOrderItems[i].StationeryOrderItemId" />

                    <div class="row stationary-item css-flex-table-body">
                            <div class="col">
                                <select asp-for="StationeryOrder.StationeryOrderItems[i].PrintingStationeryId" asp-items="ViewBag.PrintingStationeryId"></select>
                            </div>

                        <div class="col">
                            <input asp-for="StationeryOrder.StationeryOrderItems[i].FromStationeryNo" />
                        </div>

                        <div class="col">
                            <input asp-for="StationeryOrder.StationeryOrderItems[i].ToStationeryNo" />
                        </div>
                        <div class="col">
                            <input asp-for="StationeryOrder.StationeryOrderItems[i].NoOfBooks" />
                        </div>
                        <div class="col">
                            <input asp-for="StationeryOrder.StationeryOrderItems[i].Comments" />
                        </div>

                        
                           
                    </div> @* Stationary-item Div *@
                    }
                </div>@* Stationary Contationer Div *@
                <br />
                <br />
</div>
        <div class="form-group btn-group col-12">
            <div class="col-3"></div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col-4">
                <a class="btn btn-secondary btn-block" asp-page="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        var itemIndex =Model.StationeryOrder.StationeryOrderItems.Count;

        function addStationaryItem() {

            var stationaryItemsContainer = document.getElementById('stationaryItemsContainer');
            var stationaryItemTemplate = document.querySelector('.stationary-item');

            console.log(stationaryItemTemplate.innerHTML);


            var newStationaryItem = stationaryItemTemplate.cloneNode(true);
            alert(newStationaryItem);

            console.log("Created Section:" + newStationaryItem.innerHTML);

            newStationaryItem.dataset.itemIndex = itemIndex;

            // Update id and name attributes for cloned elements
            updateAttributes(newStationaryItem, itemIndex);
            itemIndex++;

            console.log("Before :" + stationaryItemsContainer.innerHTML);

            stationaryItemsContainer.appendChild(newStationaryItem);

            console.log("After" + stationaryItemsContainer.innerHTML);


        }

        function updateAttributes(element, index) {
            // Update id and name attributes for inputs within the cloned element
            var inputs = element.querySelectorAll('input');

            inputs.forEach(function (input) {
                var currentId = input.getAttribute('id');
                var currentName = input.getAttribute('name');

                if (currentId != null) {
                    var newId = currentId.replace('0', index);
                    input.setAttribute('id', newId);
                }

                if (currentName != null) {
                    var newName = currentName.replace('0', index);
                    input.setAttribute('name', newName);
                }
            });
        }

    </script>

  }  
